

@font-face{font-family:bold;src: url(https://ftm.guru/font/bold.ttf);}
@font-face{ font-family:italic;src: url(https://ftm.guru/font/italic.ttf);}
@font-face{ font-family:light;src: url(https://ftm.guru/font/light.ttf);}
@font-face{ font-family:light_italic;src: url(https://ftm.guru/font/light_italic.ttf);}
@font-face{ font-family:regular;src: url(https://ftm.guru/font/regular.ttf);}
@font-face{ font-family:regular_italic;src: url(https://ftm.guru/font/regular_italic.ttf);}
*{
	font-family:regular;
	scroll-behavior: smooth !important;
	color: white;
	transition: 0.5s ease-in;
}
.equal-gradient {
	background: -webkit-linear-gradient(top, #07f, #123) !important;
	border:none;
}

.equal-gradient-white {
	background: -webkit-linear-gradient(135deg, #07f, #7ea) !important;
	color: black !important;
}

/* index.css */

.search-btn{
	background: none;
    border: none;
	cursor: pointer;
}

/* Tabbed content */
.tab {
    overflow: hidden;
    border-bottom: 2px solid #ccc;
	text-align: center;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: white;
}

.tab button:hover {
    background-color: #4567;
    color: #3ff;
}

.tab button.active {
    background-color: #4567;
    color: #3ff;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
	margin-top:25px;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(45deg, black, #0007), radial-gradient(at 15% 5%, rgba(16, 201, 255, 0.36) 0, transparent 50%);
    background-color: #01011d;
    background-image: radial-gradient(at 15% 5%, rgba(16, 201, 255, .36) 0, transparent 50%);
    background-attachment: fixed;
    background-position: cover;
    transition: 0.5s ease-in;
}
footer{
	text-align: center;
	margin-top:
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
    transition: opacity 250ms;
    overflow-y: auto;
    z-index: 1;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

#cw_og{
	border: 1px solid #20283f;
    padding: 5px;
    border-radius: 5px;
}

.in-box{
	background-color:#012;
	border:none;
	color:white;
	padding:5px 10px;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #00234e;
    color: #fff;
    border-radius: 20px;
    width: 90%;
    max-width: 500px;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.popup .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #789;
    text-decoration: none;
}

.popup .close:hover {
    color: #fff;
    cursor: pointer;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background: linear-gradient(to bottom, rgba(0, 0, 16, 0.8), rgba(0, 19, 55, 0.8));
}

.topnav a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
}

.topnav-left {
    display: flex;
    align-items: center;
}

.topnav-left img {
    margin-right: 10px;
}

.topnav-right p {
    margin: 0;
}

.subnav {
    display: none;
    text-align: center;
    background: linear-gradient(183.56deg, #28edec, #0564d7);
    padding: 6px;
    border-radius: 10px;
    margin: 10px 0;
}

.subnav-link a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

#main-area {
    padding: 15px;
    max-width: 90%;
    margin: auto auto;
    width: 1250px;
}

.headline {
	background: -webkit-linear-gradient(90deg, #0ff, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 1.25em;
    font-weight: bold;
	margin-bottom:20px;
}

.headline-keyword {
    font-size: 2em;
    font-weight: bold;
}

.page-heading {
    font-size: 1em;
    margin-bottom: 20px;
}

.page-heading img {
    height: 20px;
    vertical-align: middle;
}

.page-heading a {
    text-decoration: dotted underline 1px aquamarine;
    font-weight: lighter;
}

.topstats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.topstat {
    background: #4567;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    flex: 1;
    min-width: 250px;
    text-align: center;
}

.topstat div:first-child {
    font-weight: lighter;
    font-size: 1.5em;
}

.topstat div:last-child {
    font-weight: lighter;
    font-size: 0.7em;
}

.c2a{
	width:60%;
	max-width:500px;
	margin:auto auto;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.form-item-container{
	max-width:80%;
	margin: auto auto;
}

.c2a input, .c2a button {
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 8px;
	background-color:#4567;
	color:white;
	width:100%;
}

.c2a button {
    background: linear-gradient(to top, #07f, #123);
    color: white;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
    width: 60% !important;
    height: 32px !important;
}

.c2a button:hover {
    box-shadow: 0 0 10px #0ff;
}

.collection, .explorer {
    margin-bottom: 20px;
}

.collection .h-left, .explorer .h-left {
    margin-bottom: 20px;
}

.collection .h-left div{
}
.collection .h-left div h3{
	border-bottom:2px solid white;
}

.collection .coll {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.collection .coll div {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    flex: 1;
    min-width: 200px;
    text-align: center;
}

.collection .coll div span {
    background: linear-gradient(to left, #035cd6, #2cfbee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2em;
}

.collection .coll div:hover {
    box-shadow: 0 0 10px #7ff;
    cursor: pointer;
    background: #012;
    color: black;
}

.social {
    text-align: center;
    margin: 20px 0;
}

.social a img {
    height: 24px;
    margin: 4px;
}


button.submit {
	padding: 10px 30px;
	border-radius: 30px;
	font-weight: bold;
	color: white;
	width: 100%;
	margin: 5px auto ;
	padding: 6px;
	font-size: 0.75em;
}
button.submit:hover{
	box-shadow: 0px 2px 2px #0ff
}
button.submit:active{
	position: relative;
	top:2px;
}
.grayed {
	color:#fff;
	background:linear-gradient(#777,#111) !important;
}

@media (max-width: 700px) {
    .popup {
        width: 90%;
    }

    .topstats {
        flex-direction: column;
    }

    .collection .coll {
        flex-direction: column;
    }

    .collection .coll div {
        min-width: 100%;
    }

	button.submit {
		margin: 5px auto;
		padding: 10px;
		font-size: 1em;
	}
}
